* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
.parent {
  background-color: rgb(0, 115, 160);
  padding: 50px;
  margin: 10px auto;
  width: 80%;
}

.child {
  background-color: rgb(76, 204, 255);
  width: 50%;
  height: 200px;
} */

.container {
  background-color: rgb(0, 82, 115);
  color: white;
  width: 80%;
  margin: 0 auto;
  /* height: 300px; */
  padding: 5em;
  /* 5 em = 5 * 16px*/
  font-size: 1.3em;
  font-size: 20.8px;
}